<div class="container-fluid g-0">
  <h3 class="titulo">CONSTANTES <br> VITALES</h3>
  <input type="text" name="email" id="form-email" placeholder="Email"><br><br>
  <input type="password" name="contraseñas" id="form-contraseña" placeholder="Contraseña"><br><br>
  <a href="/home">
    <button type="submit" id="btn-entrar">Entrar/Alumno</button>
  </a><br>
  <a href="/homeAdmin">
    <button type="submit" id="btn-entrar">Entrar/Profesor</button>
  </a><br>
  <a href="/homeAdmin">
    <button type="submit" id="btn-entrar">Entrar/Admin</button>
  </a><br>
  <hr> <br>
  <a href="/home" class="olv-con">¿Has olvidado tu contraseña?</a><br>
  <label class="container" id="c1">Recordar contraseña
    <input type="checkbox" checked="checked">
    <span class="checkmark"></span>
  </label>
</div>

<!-- <div class="col-md-12">
  <div class="card card-container">
    <img
      id="profile-img"
      src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
      class="profile-img-card"
    >
    <form
      *ngIf="!isLoggedIn"
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
    >
      <div class="form-group">
        <label for="username">Username</label>
        <input
          type="text"
          class="form-control"
          name="username"
          [(ngModel)]="form.emailProfesor"
          required
          #emailProfesor="ngModel"
        >
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="emailProfesor.errors && f.submitted"
        >
          Email is required!
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          class="form-control"
          name="password"
          [(ngModel)]="form.passwordProfesor"
          required
          minlength="6"
          #passwordProfesor="ngModel"
        >
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="passwordProfesor.errors && f.submitted"
        >
          <div *ngIf="passwordProfesor.errors.required">Password is required</div>
          <div *ngIf="passwordProfesor.errors.minlength">
            Password must be at least 6 characters
          </div>
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-primary btn-block">
          Login
        </button>
      </div>
      <div class="form-group">
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="f.submitted && isLoginFailed"
        >
          Login failed: {{ errorMessage }}
        </div>
      </div>
    </form>

    <div class="alert alert-success" *ngIf="isLoggedIn">
      Logged in as {{ roles }}.
    </div>
  </div>
</div> -->
