main{
  position: absolute;
  width: 100px;
  z-index: 0;
}

.btn-princ{
  background-color: #07553E;
  border: none;
  width: 500px;
  height: 100px;
  margin-left: 700%;
  margin-top: 35%;
  font-size: 30px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.btn-cs{
  background-color: rgba(7, 85, 62, 0.5);
  border: none;
  width: 500px;
  height: 70px;
  margin-left: 700%;
  margin-top: 100%;
  font-size: 30px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.pag_inicio{
  position: relative;
}
