.tocho{
  margin-left: 6%;
  color: white;
  margin-top: 3%;
}

.datos{
  position: absolute;
}

.nia{
  position: relative;
  float: left;
}

.n-nia{
  position: relative;
  float: left;
  margin-left: 20px;
}

.nom_nia{
  font-weight: bold;
}

