.side-nav-content{
  top: 5rem;
  color: white;
  width: 230px;
  margin-top: 10px;
}

.img_user{
  border: 1px solid white;
  width: 150px;
  height: 150px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-image: url(foto_usuario.png);
  background-repeat: no-repeat;
  background-size: 100%;
  text-align: center;
  margin-left: 17px;
}

ul{
  margin-top: 40px;
  list-style: none;
  background-color: #07553E;
}


a{
  background-color: #07553E;
  text-decoration: none;
  color: white;
  font-size: 25px;
}

.titulo{
  color: white;
  background-color: rgb(7, 85, 62);
  font-size: 40px;
}

.nav-list-item{
  border: 1px white;
  display: flex;
  align-items: center;
  height: 50px;
  padding-top: 35px;
  padding-bottom: 35px;
  background-color: #07553E;
}

a:hover{
  background-color: rgb(61, 110, 95);
}

span{
  background-color: rgba(0, 0, 0, 0);
}

.icons{
  display: contents;
}

.opc_menu{
  padding-left: 10px;
}


