.fa-bars{
  font-size: 30px;
}

.btn-close{
  background-color:  rgb(26, 161, 121);
  color: white;
  border: none;
  width: 50px;
  height: 50px;
  opacity: 1;
}

.btn-primary{
  background-color:  #07553E;
  color: white;
  border: none;
  margin-left: 10px;
  margin-top: 10px;
  width: 70px;
  height: 70px;
  opacity: 1;
}

button:hover{
  background-color: rgb(54, 172, 144);
}

.offcanvas-title{
  font-size: 35px;
}

.offcanvas{
  background-color: #07553E;
  color: white;
}

.img_user{
  border: 1px solid white;
  width: 150px;
  height: 150px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-image: url(foto_usuario.png);
  background-repeat: no-repeat;
  background-size: 100%;
  text-align: center;
  margin-left: 17px;
}

.nav-list-item{
  border: 1px white;
  display: flex;
  align-items: center;
  height: 50px;
  padding-top: 35px;
  padding-bottom: 35px;
  list-style: none;
}

a{
  text-decoration: none;
  color: white;
  font-size: 25px;
}

.icons{
  display: contents;
}

.opc_menu{
  padding-left: 10px;
}

/* .side-nav-content{
  top: 5rem;
  color: white;
  width: 230px;
  margin-top: 10px;
}

.img_user{
  border: 1px solid white;
  width: 150px;
  height: 150px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-image: url(foto_usuario.png);
  background-repeat: no-repeat;
  background-size: 100%;
  text-align: center;
  margin-left: 17px;
}

ul{
  margin-top: 40px;
  list-style: none;
  background-color: #07553E;
}


a{
  background-color: #07553E;
  text-decoration: none;
  color: white;
  font-size: 25px;
}

.titulo{
  color: white;
  background-color: rgb(7, 85, 62);
  font-size: 40px;
}

.nav-list-item{
  border: 1px white;
  display: flex;
  align-items: center;
  height: 50px;
  padding-top: 35px;
  padding-bottom: 35px;
  background-color: #07553E;
}

a:hover{
  background-color: rgb(61, 110, 95);
}

span{
  background-color: rgba(0, 0, 0, 0);
}

.icons{
  display: contents;
}

.opc_menu{
  padding-left: 10px;
}

 */
