<div class="container-fluid g-0" id="pag_inicio">
  <!-- <app-navbar (sideNavToggled)="sideNavStatus = $event;"></app-navbar> -->
  <main>
    <app-side-nav></app-side-nav>

    <div class="tocho">

      <div class="datos">
        <div class="nia">
          <h1 class="nom_nia">NIA: </h1>
        </div>
        <div class="n-nia">
          <h1 class="num_nia"> 987654321</h1>
        </div>

        <div class="nombre">
          alberto
        </div>
      </div>




    </div>

  </main>

</div>
