<div class="modal" id="myModal">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">¡ATENCIÓN!</h4>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <h6>Usted ha cambiado la contraseña correctamente</h6>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <a href="/perfil" class="btn btn-primary btn-cs" id="btn-cerses" type="button" >Continuar</a>
      </div>

    </div>
  </div>
</div>
