

  <table class="table table-success table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">DNI Alumno</th>
        <th scope="col">Nombre Alumno</th>
        <th scope="col">Apellidos Alumno</th>
        <th scope="col">NIA</th>
        <th scope="col">Nombre Ciclo</th>
        <th scope="col">Email Alumno</th>
        <th scope="col">Teléfono Alumno</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let alum of alumnos">
        <td>{{alum.dniAlumno}}</td>
        <td>{{alum.nombreAlumno}}</td>
        <td>{{alum.apellidosAlumnos}}</td>
        <td>{{alum.nia}}</td>
        <td>{{alum.nombreCiclo}}</td>
        <td>{{alum.emailAlumno}}</td>
        <td>{{alum.telefonoAlumno}}</td>
      </tr>
    </tbody>
  </table>
