<div class="container-fluid g-0">
  <h3 class="titulo">CONSTANTES <br> VITALES</h3>
  <input type="password" name="contraseñas" id="form-contraseña" placeholder="Contraseña actual"><br>
  <input type="password" name="contraseñas" id="form-contraseña" placeholder="Contraseña nueva"><br>
  <input type="password" name="contraseñas" id="form-contraseña" placeholder="Repetir contraseña"><br><br>
  <a href="/perfil" class="btn btn-primary btn-cs" id="btn-cambiar" type="button" data-bs-toggle="modal" data-bs-target="#myModal">Cambiar</a>
  <br>
  <hr>
</div>

<ventana-pass-modificada></ventana-pass-modificada>
