<div class="container-fluid g-0">
  <h3 class="titulo">CONSTANTES <br> VITALES Alfonso</h3>
  <input type="text" name="email" id="form-email" placeholder="Email"><br><br>
  <input type="password" name="contraseñas" id="form-contraseña" placeholder="Contraseña"><br><br>
  <a href="/home">
    <button type="submit" id="btn-entrar">Entrar</button>
  </a><br>
  <hr> <br>
  <a href="/home" class="olv-con">¿Has olvidado tu contraseña?</a><br>
  <label class="container" id="c1">Recordar contraseña
    <input type="checkbox" checked="checked">
    <span class="checkmark"></span>
  </label>
</div>
