.cuadrados{
  height: 180px;
  width: 250px;
  background-color: #07553E;
  color: white;
  font-weight: bold;
  margin-left: 1%;
  margin-top: 2%;
  border-radius: 2%;
}

#cont{
  margin-left: 2%;
}

.ojo{
  display: block;
  text-align: end;
}

.menu-ed{
  display: flex;
  width: 99%;
}
