<div class="container-fluid g-0" id="pag_inicio">
  <!-- <menu-lateral-profesor></menu-lateral-profesor> -->
  <menu-lateral-alumno></menu-lateral-alumno>

  <a href="/monitorCodigo" class="btn btn-primary btn-princ" type="button">MONITOR</a>
  <a href="/home" class="btn btn-primary btn-princ" type="button">ESPACIO DIDÁCTICO</a>

  <a href="/login" class="btn btn-primary btn-cs" type="button" data-bs-toggle="modal" data-bs-target="#myModal">CERRAR SESIÓN</a>

</div>

<venemer-cerrar-sesion></venemer-cerrar-sesion>
